@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --bg: #0b0b0b; */
  /* --fg: #fafafa; */
}

html,
body {
  height: 100%;
}

body {
  @apply bg-white text-gray-900 dark:bg-neutral-950 dark:text-gray-100;
}

a {
  @apply underline-offset-2;
}

.hover\:bg-gray-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
    color: white;
}